<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Fornecedores
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let fornecedor of fornecedores | async">
      <ion-item>
        <h1>{{ fornecedor.name }}</h1>
        <p>{{ fornecedor.cpfcnpj }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="editContact(fornecedor)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="removeContact(fornecedor.key)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="newContact()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
