<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Tipos de Despesa
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>

    <ion-list>
      <ion-item-sliding *ngFor="let tipo of tipos | async">
        <ion-item>
          <h1>{{ tipo.name }}</h1>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="secondary" (click)="editContact(tipo)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="removeContact(tipo.key)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab color="primary" (click)="newContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>
