<ion-header>
  <ion-navbar color="fGreen">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-card>
        <ion-card-header>
            <ion-icon name="user"></ion-icon>
             Moradores
        </ion-card-header>
        <ion-card-content>
          <button ion-button  (click)='openPushMoradores()' color="fprimary">Visualizar</button>
        </ion-card-content>
      </ion-card>


      <ion-card>
          <ion-card-header>
            Fornecedores
          </ion-card-header>
          <ion-card-content>
            <button ion-button  (click)='openPushFornecedores()' color="fprimary">Visualizar</button>
          </ion-card-content>
        </ion-card>


        <ion-card>
            <ion-card-header>
              Tipos de Despesas
            </ion-card-header>
            <ion-card-content>
              <button ion-button  (click)='openPushTipos()' color="fprimary">Visualizar</button>
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-card-header>
                Despesas
              </ion-card-header>
              <ion-card-content>
                <button ion-button  (click)='openPushDespesas()' color="fprimary">Visualizar</button>
              </ion-card-content>
            </ion-card>


            <ion-card>
                <ion-card-header>
                  Boleto Condomínio
                </ion-card-header>
                <ion-card-content>
                  <button ion-button color="fprimary">Visualizar</button>
                </ion-card-content>
              </ion-card>



</ion-content>
