<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
      <div [hidden]="!form.controls.name.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>CPF / CNPJ</ion-label>
      <ion-input type="text" formControlName="cpfcnpj"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.cpfcnpj.valid && (form.controls.cpfcnpj.dirty || form.controls.cpfcnpj.touched)" color="danger">
      <div [hidden]="!form.controls.cpfcnpj.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="tel" formControlName="tel"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.tel.valid && (form.controls.tel.dirty || form.controls.tel.touched)" color="danger">
      <div [hidden]="!form.controls.tel.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Serviços</ion-label>
      <ion-textarea type="text" formControlName="servicos"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!form.controls.servicos.valid && (form.controls.servicos.dirty || form.controls.servicos.touched)" color="danger">
      <div [hidden]="!form.controls.servicos.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
</ion-content>
