<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">

    <ion-item>
      <ion-label stacked>Tipo de Despesa</ion-label>
      <ion-input type="text" formControlName="tipo"></ion-input>

      <ion-select formControlName="tipo" multiple="false">
        <ion-option *ngFor="let tipo of tipos.children">{{tipo.name}}</ion-option>
    </ion-select>


    </ion-item>




    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
</ion-content>
